* {
    box-sizing: border-box;
}

:root {
    --main-red-color: #E06262;
    --main-black-color: #484848;
}

.main-red-color {
    color: var(--main-red-color);
}

.main-black-color {
    color: var(--main-black-color);
}

html {
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #2D2D2D;
    height: 100%;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 500px;
    height: 100%;
    background-color: #F2EECB;
    border-radius: 4px;
    padding: 32px;
}

.frame {
    border: 3px solid var(--main-black-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: flex-start;
}

.header-title {
    flex: 1;
    text-align: center;
    color: var(--main-black-color);
}

.header-btn {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    padding: 24px;
    background: unset;
    outline: unset;
    border: unset;
    cursor: pointer;
}

.header-btn.main-red-color:active {
    text-shadow: 1px 1px 2px var(--main-red-color);
}

.header-btn.main-black-color:active {
    text-shadow: 1px 1px 2px var(--main-black-color);
}

.header-title {
    text-align: center;
    font-size: 3.6rem;
    font-family: 'Nunito', sans-serif;
    text-transform: lowercase;
}

.add {
    padding: 8px;
}

.add-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.add-input {
    background: unset;
    border: unset;
    flex: 1;
    padding: 0 8px;
    font-family: 'Nunito', sans-serif;
    text-transform: lowercase;
    font-size: 16px;  
    border-bottom: 1px solid var(--main-red-color);  
}

.add-btn {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
    cursor: pointer;
    outline: unset;
    border: unset;
    background: unset;
}

.add-btn.main-black-color:active {
    text-shadow: 1px 1px 2px var(--main-black-color);
}

.todos {
    display: flex;
    flex-direction: column;
    align-items: center;  
    min-height: 500px;  
}

.todo {
    position: relative;
    flex: 1 0 auto;
    text-align: center;
    max-height: 6px;
    margin: 16px 0 0;
    font-family: 'Nunito', sans-serif;
    font-size: 14px; 
    display: flex;
    flex-direction: column;   
}

.todo-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 50px;
}